.git
.github
.demo-logs
.demo-lambda-sources
bin
build/*
!build/python-reactor/
build/python-reactor/*
dist/*
!dist/shimmy-python/
dist/shimmy-python/*
!dist/shimmy-python/numpy-core/
!dist/shimmy-python/numpy-core/**
coverage.out
lcov.info
*.test
**/__pycache__
**/*.pyc
**/node_modules
examples/**/*.wasm
examples/**/target
internal/execution/wasm/testdata/*.wasm
