.git
.github
.demo-logs
.demo-lambda-sources
bin
build/*
!build/python-reactor/
build/python-reactor/*
!build/python-reactor/artifacts/
!build/python-reactor/artifacts/**
coverage.out
lcov.info
*.test
**/__pycache__
**/*.pyc
**/node_modules
examples/**/*.wasm
examples/**/target
internal/execution/wasm/testdata/*.wasm
